.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header {
  margin: 1em 4em;
  grid-column: 1;
  grid-row: 1
}
.logo {
  grid-column: 1;
  grid-column: 1;
  height: 100px;
}

.text-area {
  grid-column: 2;
  grid-row: 2;
}

.clock-wrapper {
  text-align: right;
  margin: 1em 4em;
  grid-column: 2;
  grid-row: 1;
  font-size: 2em;
}

.clock {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  margin: 0em 4em;
}

.text-block {
  height: 100%;
  width: 80%;
  font-family: monospace;
}

.list-item {
  width: 70%;
  margin: 10px 5px;
  font-size: 1.5em !important;
}
